/*general*/
/*Smartphones portrait and landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
    .wrapper
    {
        width: 100vw;
        height: 100vh;
    }
}

/*Smartphones landscape*/
@media only screen
and (min-width : 321px)
{
    .wrapper
    {
        width: 100vw;
        height: 100vh;
    }
}

/*Smartphones portrait*/
@media only screen
and (max-width : 320px)
{
    .wrapper
    {
        width: 100vw;
        height: 100vh;
    }
}

/*Tablets portrait and landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
{
    .wrapper
    {
        width: 100vw;
        height: 100vh;
    }
}

/*Tablets landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
{
    .wrapper
    {
        width: 100vw;
        height: 100vh;
    }
}

/*Tablets portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
    .wrapper
    {
        width: 100vw;
        height: 100vh;
    }
}

/*Desktops and laptops*/
@media only screen
and (min-width : 1224px)
{
    .wrapper
    {
        width: 100vw;
        height: 100vh;
    }
}

/*Large screens*/
@media only screen
and (min-width : 1824px)
{
    .wrapper
    {
        width: 100vw;
        height: 100vh;
    }
}

/* iPhone 4*/
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)
{
    .wrapper
    {
        width: 100vw;
        height: 100vh;
    }
}



/*navigation bar*/
#navigation
{
    width: 100vw;
    height: 40px;
    background-color: #2F3130;
    position: fixed;
    text-align: center;


}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li
{
    display: inline;
}

li a
{
    display: inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;

}

/*change nav link color on hover*/
li a:hover
{
    background-color: #54C2B4;
}



/*home*/
#home
{
    background-color: #2F3130;

}
#siteimg
{
    width: 100vw;
    height: 100vh;
}



/*about*/
#about
{
    background-color: #2F3130;
    display: block;
}

#first_aside, #first_article
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

aside
{
   /* background-color: yellow;*/
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
}

#headshot
{
    border-radius: 50%;
    width: 80%;
    height: auto;
    border-style: solid;
    border-width: 8px;
    border-color: #54C2B4;
    margin-top: 30%;
}

article
{
    /*background-color: red;*/
    width: 60%;
    height: 100%;
    float: left;
}

#container
 {
    text-align: center;
    margin-top: 40%;
    padding-left: 40px;
    padding-right: 40px;
 }

h1
{
    color: #54C2B4;
}

p
{
    color: white;
}



/*pricing*/
#pictures
{
    background-color: #398279;
}



/*contact*/
#contact
{
    background-color: #2F3130;
}

form
{
    position: relative;
    padding-top: 40px;

}
